<!DOCTYPE html>
  <head>
    <title>Super Strona!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>

  <body class="container">
    <img src="https://2.bp.blogspot.com/-lfnxM-S4PbE/VrzAl0KoSgI/AAAAAAAAJZQ/DycaWOSKHkQ/s1600/swojskiejedzonko-noimage.jpg" alt="">
    <h1>
        <%= @title %>
    </h1>
    <%= yield %>
    </body>